@import '@fortawesome/fontawesome-free/css/all.css';

$dark-bg: #282c35;
$color-primary: #fff;
$color-secondary: rgba(255, 255, 255, 0.9);

body {
  background-color: $dark-bg;
  color: $color-primary;
  font-family: Avenir, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
}

.metronome {
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  font-size: 120px;

  span {
    font-size: 30px;
    margin-left: 5px;
  }
}

.slider-container {
  display: flex;
  justify-content: space-between;
}

button {
  min-width: 60px;
  min-height: 60px;
  font-size: 30px;
  border-radius: 50%;
  background-color: $dark-bg;
  color: $color-secondary;
  border-color: $color-primary;

  &:hover {
    border-color: darken($color-primary, 30);
    cursor: pointer;
  }
}

input {
  width: 85%;
  margin: 0 30px;
}

i {
  color: $color-primary;
}
